.videolist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.videoitems {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
padding: 10px;

}
.vidcounter {
        padding: 5px;
    max-width: fit-content;
}

.videoitem {
min-width: auto;
    max-width: min-content;
padding: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.videoitem p {
	width: 100%;
	padding: 0px 0px 0px 5px;
	word-wrap: break-word;
}

.videoimg {

}

.vidlink {

}

